html
  head
    title FORM PAGE

    script.
      function formSubmit() {
        var done = "it happened";
        document.getElementById("title").value = done;
        //document.getElementById("year").value = #{bell};
        document.cookie = "username= random; expires=Thu, 9 Mar 2018 12:00:00 UTC; path=/";
        document.getElementById("year").value = document.cookie;
      }
  body
    h1 I am the layout

    p( id = "checker") This should change



    form(name='myForm')
      p
        | title:
        input(type='text', id = "title", name='title', value='')
        |          year:
        input(type='text', id = "year",name='year', value='')
        |          imdb:
        input(type='text', name='imdb', value='')

        input(type='button', onclick="formSubmit()",value='change value')
