body {font-family: calibri;}
.img{display: block;  margin-left: auto; margin-right: auto;}
.main{font-size: 30px; color: purple;}
.api{font-size: 30px;}
.top{color: purple;}
th {text-align: left; padding: 5px;}
td {text-align: left; padding: 5px;}
